@tailwind base;
@tailwind components;
@tailwind utilities;

.signInBtn {
    @apply text-indigo-500 rounded-md bg-blue-200 hover:bg-blue-500 hover:text-indigo-50 border-2 hover:border-indigo-50 transition ease-in-out duration-150;
}

.roboto-font-h1 {
    @apply text-cyan-700;
}

.letter {
    opacity: 0;
    letter-spacing: 12px;
    animation: reveal 2s ease-in forwards;
}
.letter:nth-child(1) {
    animation-delay: 0.1s;
}

.letter:nth-child(2) {
    animation-delay: 0.3s;
}

.letter:nth-child(3) {
    animation-delay: 0.6s;
}
.letter:nth-child(4) {
    animation-delay: 0.7s;
}
.letter:nth-child(5) {
    animation-delay: 0.8s;
}

.loginModal{
    opacity: 0;
    animation: modalReveal 1.5s ease-in forwards;
}

@keyframes modalReveal{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0.15;
    }
    50%{
        opacity: 0.24;
    }
    70%{
        opacity: 0.40;
    }
    85%{
        opacity: 0.60;
    }
    100%{
        opacity: 0.90;
    }
}